<div class="row">
  <div class="col-8">
    <div *ngIf="(gameGrid$  | async) as gameGrid">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let cells of gameGrid.cells; let i = index">
            <td [ngStyle]="{'width':getGridWidthPercent(),'padding-bottom':getGridWidthPercent()}" *ngFor="let cell of cells; let j =index"
              [ngClass]="(cell.isAlive)?'aliveCell':'deadCell'" (click)="updateCell(i,j)">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4">
      <app-game-options></app-game-options>
    </div>
</div>